header {
    text-align: center;
}

h3 {
    font-family: "Bree Serif", serif;
    color: #F9FBF7;
   
}

header h1 {
    font-family: "Bree Serif", serif;
    color: #2F3234;
   
}


div.ekaalue a, div.ekaalue a:visited, div.ekaalue a:active {
    text-decoration: none;
    color: #F9FBF7;
    font-family: "Bree Serif", serif;
    font-size: 32px;
}

div.ekaalue a:hover {
    
    text-decoration: underline;
}

 
 div.ekaalue .col-md-6 {
    padding-top: 20px;
}





.ekaalue {
    background-color: #B40614;
    height: 368px;

}

.tokaalue {
    background-color: #F9FBF7;
    height: 368px;
    

}

div.tokaalue h1 {
    margin-top: 100px;
    
    
   
}

div.tokaalue img.kebabkuva {
    margin-top: 60px;
   
   
   
  
   
}

div.tokaalue img.pizzakuva {
    margin-top: 35px;
   
  
   
}

div.navigointi ul {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;

    list-style: none;
    margin: 0;
    padding: 20px 0;
    
}

div.navigointi li:nth-child(1) {
    text-align: right;
    
    padding-bottom: 20px;
    margin-left: 150px;
    margin-right: 150px;
}

div.navigointi li:nth-child(2) {
    text-align: center;
    padding-bottom: 20px;
   margin-left: 150px;
    margin-right: 150px;
}

div.navigointi li:nth-child(3) {
    text-align: left;
    margin-left: 150px;
    margin-right: 150px;
    padding-bottom: 20px;
}

div.navigointi a {
    text-decoration: none;
    color: #F9FBF7;
    font-family: "Bree Serif", serif;
    font-size: 32px;
}

div.navigointi a:hover {
    text-decoration: underline;
}

div.navigointi ul {
    padding-left: 0;
}






div.navigointi {
    background-color: #2F3234;
   text-align: center;
   
   
   
}


article {
    background-color: #34912A;
    height: 1800px;
    margin-top: -20px;  
   
   
}

h2 {
    font-family: "Bree Serif", serif;
    color: #F9FBF7;
    padding-top: 20px;
   text-align: center;
   padding-bottom: 20px;
   padding-top: 40px;
}

div.laatikko1 {
    border-radius: 25px;
  background-color: #F9FBF7;
  
  width: 500px;
  height: 470px; 
    margin: auto;
    margin-top: 20px;
    margin-bottom: 40px;

}

div.sisalla {
    
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

p {
    font-family: "Bree Serif", serif;
    color: #2F3234;
    
    font-size: 24px;
   
}

hr {
    border: 2px solid #2F3234;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    opacity: 1;
    
    
}

div.sisalla h3 {
    font-family: "Bree Serif", serif;
    color: #2F3234;
    
    font-size: 28px;
    text-align: center;
}

div.sisalla img {
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    
   
   
}

div.laatikko2 {
    border-radius: 25px;
  background-color: #F9FBF7;
  
  width: 1400px;
  height: 415px; 
    margin: auto;
    margin-top: 20px;

}

div.sisalla2 {
    
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    
}   

div.sisalla2 p {
    font-family: "Bree Serif", serif;
    color: #2F3234;
    
    font-size: 24px;
    text-align: center;
    
   
}

article h2 {
    padding-top: 100px;
}

.block {
  display: inline-block;
  width: 200px;
  height: 200px;
  background-color: #F9FBF7;
  border-radius: 25px;
margin: 20px;
float: none;
vertical-align: top;

}


.somelaatikot {
    text-align: center;
   
}


div.somelaatikot div.block img.instagram {
    display: block;
   margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 120px;
    height: 120px;
  
   
}

div.somelaatikot div.block img.facebook {
   
    width: 200px;
    height: 200px;
    display: block;
   
   margin-left: auto;
    margin-right: auto;
}

div.somelaatikot div.block img.tiktok {
   
    width: 200px;
    height: 200px;
    display: block;
   
   margin-left: auto;
    margin-right: auto;
}

.pizza-card {
  width: 18rem;                 
  height: 460px;                
  border-radius: 25px;
  border: none;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);

  background-image: url('kuvat/woodbackround.png');
  background-size: cover;
  background-position: center;
}

.pizza-card:hover {
  outline: 3px solid #2F8DF3;
  outline-offset: -3px;
}

.pizza-card .card-body,
.pizza-card .list-group-item {
  background: transparent !important;
}

.pizza-card .list-group,
.pizza-card .list-group-item {
  border: none;
}

.pizza-img {
  width: 160px;
  height: 160px;
  object-fit: cover;
  display: block;
  margin: 0.25rem auto 0.5rem auto;
  border-radius: 50%;
}

.pizza-card .card-title {
  font-family: "Bree Serif", serif;
  color: #2F3234;        
  font-size: 1.4rem;
  margin-bottom: 0.25rem;
}

.pizza-card hr {
  border: 2px solid #2F3234;
  opacity: 1;
  margin: 0.75rem 0;
}

.pizza-card p,
.pizza-card .ainesosat {
  font-family: "Bree Serif", serif;
  color: #2F3234;        
  font-size: 1.1rem;
}


footer {
    background-color: #2F3234;
    height: 327px;
    
   
}

footer p {
    font-family: "Bree Serif", serif;
    color: #F9FBF7;
    font-size: 20px;
    text-align: center;
    
   
}

footer a, footer a:visited, footer a:active {
    text-decoration: none;
    color: #F9FBF7;
    font-family: "Bree Serif", serif;
    font-size: 20px;
    text-align: center;

   
}   

footer li {
    text-decoration: none;
    font-family: "Bree Serif", serif;
    font-size: 20px;
    color: #F9FBF7;
    text-align: center;
    list-style-type: none;
    
   
   
}

.footerlaatikko {
    
    padding-top: 75px;
   
    
   
   
}

footer a:hover {
    text-decoration: underline;
   
}

footer ul {
    padding-top: 25px;
   
}





